.gallery {
  flex: 1;
  display: flex;
}

.gallery__column {
  flex: 1;
  margin-top: 30px;
}

.gallery__photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}
