.landingContent {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.landingContent__left {
  flex: 0.5;
  padding: 10px;
}

.landingContent__leftContent {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.landingContent__imageScroller {
  overflow-x: scroll;
  display: flex;
  max-width: 400px;
}

.landingContent__galleryImage {
  object-fit: contain;
  max-width: 200px;
  display: block;
  border-radius: 20px;
  margin-right: 10px;
}

.landingContent__leftContent > p,
.landingContent__rightContent > p {
  color: darkgray;
  padding: 10px 0;
}

.landingContent__right {
  flex: 0.5;
  padding: 10px;
}

.landingContent__rightContent {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.landingContent__bannerTitle {
  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.landingContent__banner {
  max-width: 100%;
  max-height: 250px;
  border-radius: 20px;
  margin-top: 10px;
  object-fit: contain;
}

.landingContent__btn {
  background-color: #f44336 !important;
  border: none !important;
  padding: 5px !important;
  color: white !important;
  font-weight: 900 !important;
  margin: 10px 0 !important;
}

.landingContent__btn:hover {
  background-color: #e62416 !important;
}
