.photo {
  max-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.photo__info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: darkgray;
}

.photo__info > h2 {
  font-weight: 300;
}

.photo__image {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}
