.sidebar {
  flex: 0.3;
  padding: 25px 10px;
  max-width: 320px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #f44336;
}

.sidebar__footer {
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  color: darkgray;
}
